body{
    margin: 0px;
}
.banner{
    background-image: url(images/donation5.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  
}
h1{
    font-size: 65px;
}
.banner-content{
    text-align: center;
    padding-top: 50px;
    color: white;
}
.link-button{
    color: white;
    background-color: rgba(255, 0, 0, 0.976);
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 15px;
}
.donate-today{
    text-align: center;
}
h2{
    font-size: 40px;
}
.help{
    display: flex;
    margin-left: 26%;
    margin-right: 14%;
}
#help-border{
    border : 2px solid red;
    background-color: rgba(255, 4, 4, 0.301);
    padding: 15px;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.help-amount{
  background-color: rgba(211, 211, 211, 0.214);
  padding: 15px;
  margin: 20px;
  text-align:center;
  height: 50px;
  width: 50px;
}
.donation-bar{
    text-align: center;
}
#amount-bar{
    color: rgba(159, 158, 158, 0.531);
    border-bottom: 1px solid rgb(130, 130, 130);
    margin-left: 25%;
    margin-right: 25%;
}
.donate-plan{
    display: flex;
    margin-left:20% ;
    margin-right: 20%;
}
#food{
    background-image: url(icons/food.png);
    background-position: top 10px left 15px;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.071);
    padding: 50px 15px 15px;
    text-align: center;
    margin: 15px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
#shelter{
    background-image:url(icons/shelter.png) ;
    background-position: top 10px left 15px;
    background-repeat: no-repeat;
    background-color: rgba(255, 192, 203, 0.456);
    padding: 50px 15px 15px;
    text-align: center;
    margin: 15px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
#education{
    background-image: url(icons/Frame-1.png);
    background-position: top 10px left 15px;
    background-repeat: no-repeat;
    background-color: rgba(222, 222, 122, 0.387);
    padding: 50px 15px 15px;
    text-align: center;
    margin: 15px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.text-beauty{
    text-align: left;
}
#connect-with-us{

}
#sbscription-box{
    background-color: rgba(212, 212, 52, 0.512);
    width: 1000px;
    height: 200px;
    display: flex;
    margin-left: 15%;
}
#subscribe-form{
    background-color: rgba(0, 0, 0, 0.059);
    text-align: left;
    margin-left: 30%;
    margin-right: 0%;
    width: 30%;
    margin-top: 9.5%;
    height: 15%;
    color: rgb(150, 150, 150);
}
#sbscription-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 28px;
    margin-left: 0%;
    margin-right: 25%;
    margin-top: 9.3%;
    text-align: center;
    width: 12%;
    height: 7%;
    color: white;
}
.footer{
    background-color: black;
    text-align: center;
    padding: auto;
}
#font-color{
    color: white;
    padding-bottom: 10px;
}
#footer-color-style{
    color: red;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
}